*dependency-reduced-pom.xml
.classpath
.project
.settings/
target/
devenv
*.log.*
*.iml
.idea/
*.versionsBackup
!NOTICE-BIN
!LICENSE-BIN
.DS_Store
localbin
nohup.out
bazel-out
bazel-bin
bazel-rocketmq
bazel-testlogs
.vscode
MODULE.bazel.lock

*.bkp

cluster
!cluster/broker-a-master/broker.properties
!cluster/broker-a-slave/broker.properties
!cluster/broker-b-master/broker.properties
!cluster/broker-b-slave/broker.properties
